.content {
  position: relative;  // permette al contenuto di apparire sopra l'immagine
  padding:15px;
  color:rgb(28, 28, 35);
padding-bottom: 200px;

}

.form
{
  margin-top: 200px;

}

h1 {
  color: rgb(28, 28, 35);
  font-weight: 700;
  font-size: 32px;
}

h5{
  color:rgb(28, 28, 35);
  font-weight:400;
  font-size: 12px;
}

.btn
{
  background-color: rgb(48, 241, 183);
  color: white;
}
