.container {

  width: 100%; /* Imposta la larghezza al 100% del viewport */
  padding:15px;
  margin-top: 200px;
}

.torna{
  font-size: 16px;
  border-color: rgb(48, 241, 183);;
  background-color: transparent;
  color: rgb(28, 28, 35);
  width: 100%;
}

  h1 {
    color: rgb(28, 28, 35);
    font-weight: 700;
    font-size: 32px;
  }


.descrizione-proposta {
  font-size: 22px;
  font-weight: 400;
}

.info-proposta{
  font-weight: 600;
  font-size: 18px;

}

.stato-proposta {
  font-size: 16px;
font-weight: 700;

}


