<div
  class="content d-flex justify-content-center align-items-center"
  style="height: 100vh; flex-direction: column"
>
  <div class="text-sm-start text-md-center text-lg-center text-xl-center">
    <h1>Che tipo di utente CODIFY&lt;/&gt; sei?</h1>
  </div>

  <div class="text-center">
    <div id="userTypeCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card" style="width: 22rem">
            <div class="card-body">
              <h3 class="card-title">Privato</h3>

              <a
                [routerLink]="['privato/register']"
                class="btn"
                style="width: 90%"
                >Registrati</a
              >
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card" style="width: 22rem">
            <div class="card-body">
              <h3 class="card-title">Azienda</h3>

              <a
                [routerLink]="['azienda/register']"
                class="btn"
                style="width: 100%"
                >Registrati</a
              >
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card" style="width: 22rem">
            <div class="card-body">
              <h3 class="card-title">Sviluppatore</h3>
              <a
                [routerLink]="['sviluppatore/register']"
                class="btn"
                style="width: 100%"
                >Registrati</a
              >
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#userTypeCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#userTypeCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
